@charset "UTF-8";
/* CSS Document */


@media only screen and (max-width: 934px)
{
	.valid
{
	background-color: #000639;
	overflow: auto;
	height: 100%;
}
.valid h1
{
	font-family: "Helvetica";
	font-size: 24px;
	color: white;
	margin-left: 20%;
	margin-right: 20%;
	
	padding-top: 50px;
}
.valid hr
{
	margin-left: 20%;
}
.valid h2
{
	font-family: "Helvetica";
	font-size: 16px;
	color: white;
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 30px;
}
.valid form
{
	margin-left: 20%;
	margin-right: 20%;
}
#email1
{
	font-family: "Helvetica";
	font-size: 12px;
	padding-left: 3px;
	background-color: #000639;
	color: white;
	width: 275px;
	border: 0;
	opacity: 0;
	margin-top: 5px;
	padding-bottom: 1px; 
	margin-right: 15px;
	height: 10px;
	border-radius: 7px;
	-webkit-transition: opacity 1s ease;
	
}
#email
{
	font-family: "Helvetica";
	font-size: 16px;
	padding-left: 15px;
	color: #7B7B7B;
	width: 275px;
	border: 0;
	margin-right: 15px;
	height: 40px;
	border-radius: 7px;
	
}
#emailname{
	position: relative; 
	margin-top: -25px; 
	margin-left: 15px;
	font-family: "Helvetica";
	font-size: 16px;
	color: #7B7B7B;
	
}
#interest
{
	font-family: "Helvetica";
	font-size: 16px;
	padding-left: 15px;
	margin-top: 10px;
	color: #7B7B7B;
	width: 225px;
	height: 40px;
	
	border: 0;
	border-radius: 7px;
}



#error
{
	font-family: "Helvetica";
	background: #000639;
	border: 0;
	font-size: 15px;
	padding-left: 0px;
	margin-top: 10px;
	color: #C23628;
	width: 275px;
	height: 15px;
	opacity: 0;
}

#signed
{
	margin-top: 50px;
	background: #000639;
	font-family: "Helvetica";
	color: white;
	border: 0;
	font-size: 16px;
	opacity: 0;
	
}
	#sub
	{
	font-family: "Helvetica";
	font-size: 16px;
	padding-left: 0px;
	margin-top: 10px;
	background-color: #5C6AC4;
	width: 295px;
	height: 35px;
	color: white;
	border: 0;
		border-radius: 7px;
	
	}

#unsub
{
	text-align: left;
	margin-top: 20px;
	margin-left: 250px;
}
	.valid p
	{
		font-family: Helvetica; color: white; font-size: 8px; text-align: left;
		margin-left: 250px;
		
	}
	
}
@media only screen and (min-width: 935px)
{
	.valid
{
	background-color: #000639;
	overflow: auto;
	height: 100%;
}
.valid h1
{
	font-family: "Helvetica";
	font-size: 24px;
	color: white;
	margin-left: 20%;
	margin-right: 20%;
	
	padding-top: 50px;
}
.valid hr
{
	margin-left: 20%;
}
.valid h2
{
	font-family: "Helvetica";
	font-size: 16px;
	color: white;
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 30px;
}
.valid form
{
	margin-left: 20%;
	margin-right: 20%;
}
#email1
{
	font-family: "Helvetica";
	font-size: 12px;
	padding-left: 4px;
	background-color: #000639;
	color: white;
	width: 275px;
	border: 0;
	opacity: 0;
	margin-top: 5px;
	padding-bottom: 4px; 
	margin-right: 15px;
	height: 10px;
	border-radius: 7px;
	-webkit-transition: opacity 1s ease;
	
}
#email
{
	font-family: "Helvetica";
	font-size: 16px;
	padding-left: 15px;
	color: #7B7B7B;
	width: 275px;
	border: 0;
	margin-right: 15px;
	height: 40px;
	border-radius: 7px;
	
}
#emailname{
	position: relative; 
	margin-top: -25px; 
	margin-left: 15px;
	font-family: "Helvetica";
	font-size: 16px;
	color: #7B7B7B;
	
}
#interest
{
	font-family: "Helvetica";
	font-size: 16px;
	padding-left: 15px;
	margin-top: 10px;
	color: #7B7B7B;
	width: 225px;
	height: 40px;
	
	border: 0;
	border-radius: 7px;
}



#error
{
	font-family: "Helvetica";
	background: #000639;
	border: 0;
	font-size: 15px;
	padding-left: 0px;
	margin-top: 10px;
	color: #C23628;
	width: 275px;
	height: 15px;
	opacity: 0;
}

#signed
{
	margin-top: 50px;
	background: #000639;
	font-family: "Helvetica";
	color: white;
	border: 0;
	font-size: 16px;
	opacity: 0;
	
}
	#sub
	{
	font-family: "Helvetica";
	font-size: 16px;
	padding-left: 0px;
	margin-top: 10px;
	background-color: #5C6AC4;
	width: 555px;
	height: 35px;
	color: white;
	border: 0;
		border-radius: 7px;
	
	}
	#unsub
{
	text-align: left;
	margin-left:400px;
	margin-top: 80px;
}
	.valid p
	{
		font-family: Helvetica; color: white; font-size: 8px; text-align: left;
		margin-left: 400px;
		
	}
	}
	


@media only screen and (max-width: 667px) 
  { 
	.valid h1
	{
	font-family: "Helvetica";
	font-size: 24px;
	color: white;
	margin-left: 15%;
	margin-right: 5%;
	
	padding-top: 50px;
	}
	  
.valid hr
{
	margin-left: 15%;
}
.valid h2
{
	font-family: "Helvetica";
	font-size: 20px;
	color: white;
	margin-left: 15%;
	margin-right: 5%;
	padding-top: 30px;
}
.valid form
{
	margin-left: 15%;
	margin-right: 5%;
}
#email1
{
	font-family: "Helvetica";
	font-size: 12px;
	padding-left: 2px;
	background-color: #000639;
	color: white;
	width: 275px;
	border: 0;
	opacity: 0;
	margin-top: 5px;
	padding-bottom: 5px; 
	margin-right: 15px;
	height: 10px;
	border-radius: 7px;
	-webkit-transition: opacity 1s ease;
	
}
#email
{
	font-family: "Helvetica";
	font-size: 16px;
	padding-left: 15px;
	color: #7B7B7B;
	width: 340px;
	border: 0;
	margin-right: 15px;
	height: 40px;
	border-radius: 7px;
	
}
#emailname{
	position: relative; 
	margin-top: -25px; 
	margin-left: 15px;
	font-family: "Helvetica";
	font-size: 16px;
	color: #7B7B7B;
	
}
#interest
{
	font-family: "Helvetica";
	font-size: 16px;
	padding-left: 15px;
	margin-top: 10px;
	color: #7B7B7B;
	width: 340px;
	height: 40px;
	
	border: 0;
	border-radius: 7px;
}



#error
{
	font-family: "Helvetica";
	background: #000639;
	border: 0;
	font-size: 15px;
	padding-left: 0px;
	margin-top: 10px;
	color: #C23628;
	width: 275px;
	height: 15px;
	opacity: 0;
}

#signed
{
	margin-top: 50px;
	background: #000639;
	font-family: "Helvetica";
	color: white;
	border: 0;
	font-size: 16px;
	opacity: 0;
	
}
	  #sub
	{
	font-family: "Helvetica";
	font-size: 16px;
	padding-left: 0px;
	margin-top: 10px;
	background-color: #5C6AC4;
	width: 355px;
	height: 35px;
	color: white;
	border: 0;
		border-radius: 7px;
	
	}
	  #unsub
	  {
		  text-align: left;
		  margin-top: 5px;
		  margin-left: 170px;
		 
	  }
	  .valid p
	  {
		  font-family: Helvetica; color: white; font-size: 8px; text-align: left;
		  margin-left: 170px;
		
	  }
}
@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) 
    and (width : 375px) 
    and (height : 559px) 
    and (orientation : portrait) 
    and (color : 8)
    and (device-aspect-ratio : 375/667)
    and (aspect-ratio : 375/559)
    and (device-pixel-ratio : 2)
    and (-webkit-min-device-pixel-ratio : 2)
{ 
.valid h1
	{
	font-family: "Helvetica";
	font-size: 24px;
	color: white;
	margin-left: 15%;
	margin-right: 5%;
	
	padding-top: 50px;
	}
	  
.valid hr
{
	margin-left: 15%;
}
.valid h2
{
	font-family: "Helvetica";
	font-size: 20px;
	color: white;
	margin-left: 15%;
	margin-right: 5%;
	padding-top: 30px;
}
.valid form
{
	margin-left: 15%;
	margin-right: 5%;
}
#email1
{
	font-family: "Helvetica";
	font-size: 16px;
	padding-left: 15px;
	background-color: #000639;
	color: white;
	width: 275px;
	border: 0;
	opacity: 0;
	margin-top: 5px;
	padding-bottom: 1px; 
	margin-right: 15px;
	height: 10px;
	border-radius: 7px;
	-webkit-transition: opacity 1s ease;
	
}
#email
{
	font-family: "Helvetica";
	font-size: 16px;
	padding-left: 15px;
	color: #7B7B7B;
	width: 340px;
	border: 0;
	margin-right: 15px;
	height: 40px;
	border-radius: 7px;
	
}
#emailname{
	position: relative; 
	margin-top: -25px; 
	margin-left: 15px;
	font-family: "Helvetica";
	font-size: 16px;
	color: #7B7B7B;
	
}
#interest
{
	font-family: "Helvetica";
	font-size: 16px;
	padding-left: 15px;
	margin-top: 10px;
	color: #7B7B7B;
	width: 340px;
	height: 40px;
	
	border: 0;
	border-radius: 7px;
}



#error
{
	font-family: "Helvetica";
	background: #000639;
	border: 0;
	font-size: 15px;
	padding-left: 0px;
	margin-top: 10px;
	color: #C23628;
	width: 275px;
	height: 15px;
	opacity: 0;
}

#signed
{
	margin-top: 50px;
	background: #000639;
	font-family: "Helvetica";
	color: white;
	border: 0;
	font-size: 16px;
	opacity: 0;
	
}
	  #sub
	{
	font-family: "Helvetica";
	font-size: 16px;
	padding-left: 0px;
	margin-top: 10px;
	background-color: #5C6AC4;
	width: 355px;
	height: 35px;
	color: white;
	border: 0;
		border-radius: 7px;
	
	}
	  #unsub
	  {
		  text-align: left;
		  margin-top: 5px;
		  margin-left: 170px;
		 
	  }
	  .valid p
	  {
		  font-family: Helvetica; color: white; font-size: 8px; text-align: left;
		  margin-left: 170px;
		
	  }
}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
	.valid h1
	{
	font-family: "Helvetica";
	font-size: 24px;
	color: white;
	margin-left: 15%;
	margin-right: 5%;
	
	padding-top: 50px;
	}
	  
.valid hr
{
	margin-left: 15%;
}
.valid h2
{
	font-family: "Helvetica";
	font-size: 20px;
	color: white;
	margin-left: 15%;
	margin-right: 5%;
	padding-top: 30px;
}
.valid form
{
	margin-left: 15%;
	margin-right: 5%;
}
#email1
{
	font-family: "Helvetica";
	font-size: 16px;
	padding-left: 15px;
	background-color: #000639;
	color: white;
	width: 275px;
	border: 0;
	opacity: 0;
	margin-top: 5px;
	margin-bottom: 10px; 
	margin-right: 15px;
	height: 10px;
	border-radius: 7px;
	-webkit-transition: opacity 1s ease;
	
}
#email
{
	font-family: "Helvetica";
	font-size: 16px;
	padding-left: 15px;
	color: #7B7B7B;
	width: 340px;
	border: 0;
	margin-right: 15px;
	height: 40px;
	border-radius: 7px;
	
}
#emailname{
	position: relative; 
	margin-top: -25px; 
	margin-left: 15px;
	font-family: "Helvetica";
	font-size: 16px;
	color: #7B7B7B;
	
}
#interest
{
	font-family: "Helvetica";
	font-size: 16px;
	padding-left: 15px;
	margin-top: 10px;
	color: #7B7B7B;
	width: 340px;
	height: 40px;
	
	border: 0;
	border-radius: 7px;
}



#error
{
	font-family: "Helvetica";
	background: #000639;
	border: 0;
	font-size: 15px;
	padding-left: 0px;
	margin-top: 10px;
	color: #C23628;
	width: 275px;
	height: 15px;
	opacity: 0;
}

#signed
{
	margin-top: 50px;
	background: #000639;
	font-family: "Helvetica";
	color: white;
	border: 0;
	font-size: 16px;
	opacity: 0;
	
}
	  #sub
	{
	font-family: "Helvetica";
	font-size: 16px;
	padding-left: 0px;
	margin-top: 10px;
	background-color: #5C6AC4;
	width: 355px;
	height: 35px;
	color: white;
	border: 0;
		border-radius: 7px;
	
	}
	  #unsub
	  {
		  text-align: left;
		  margin-top: 5px;
		  margin-left: 170px;
		 
	  }
	  .valid p
	  {
		  font-family: Helvetica; color: white; font-size: 8px; text-align: left;
		  margin-left: 170px;
		
	  }
}